<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href={{url_for('static', filename='login.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM8d7xj1z5l5e5c5e5e5e5e5e5e5e5e5e5e5" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>LOG IN:</h2>
        <label>Username:</label>
        <input type="text" id="username" placeholder="Enter Username">
        <label>Password:</label>
        <input type="password" id="password" placeholder="Enter Password">
        <button onclick="login()">LOG IN</button>
        <p>Create a new employee account:</p>
        <a href="sign_up.html">sign up</a>
        <p>tanginaaaa</p>
    </div> 
</body>
<script>
    function login() {
        alert("Login feature will be implemented soon!");

    }
</script>
</html>
